<div class="main-wraper bg-grey-2 padd-90">
  <div class="container text-align text-center">
    <h1>our services</h1>
    <p class="font10">
  Whether you are arriving early, have a long layover, need a room for few hours only...<br/> or if you simply want to relax – You have come to the right place.</p>
  </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-2">
           <div class="icon-block style-2 bg-white">
                <img class="icon-img bg-blue-2 border-grey-2" src="images/icon_11.png" alt="">
                    <h5 class="icon-title color-dark-2">Travel Consumables</h5>
                    <div class="icon-text color-dark-2-light">We provide bath kit , tooth kit , shaving kit on billable!</div>
                    <!-- <a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a> -->
                    </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
              <div class="icon-block style-2 bg-white">
                <img class="icon-img bg-blue-2 border-grey-2" src="images/icon_21.png" alt="">
                    <h5 class="icon-title color-dark-2">Coffee, Soft drinks and Snacks</h5>
                    <div class="icon-text color-dark-2-light">All snacks items are available!</div>
                    <!-- <a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a> -->
                    </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2"style="padding-right: 0px;padding-left: 0px;">
              <div class="icon-block style-2 bg-white">
                <img class="icon-img bg-blue-2 border-grey-2" src="images/icon_40.png" alt="">
                    <h5 class="icon-title color-dark-2">Meeting Room </h5><br>
                    <div class="icon-text color-dark-2-light">Want to do a client meeting, we have! </div>
                   <!-- <a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a> -->
                    </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="icon-block style-2 bg-white">
                  <img class="icon-img bg-blue-2 border-grey-2" src="images/icon_41.png" alt="">
                  <h5 class="icon-title color-dark-2">Clock Room</h5><br>
                  <div class="icon-text color-dark-2-light">Keep safer your belongings when you go out</div>
                    <!--<a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a>-->
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                  <div class="icon-block style-2 bg-white">
                    <img class="icon-img bg-blue-2 border-grey-2" src="images/icon_31.png" alt="">
                    <h5 class="icon-title color-dark-2">Ironing</h5><br>
                    <div class="icon-text color-dark-2-light">Sed sit amet leo orci. </div>
                    <!--<a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a>-->
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="icon-block style-2 bg-white">
                <img class="icon-img bg-blue-2 border-grey-2" src="images/icon_4.png" alt="">
                    <h5 class="icon-title color-dark-2">Locker</h5><br>
                    <div class="icon-text color-dark-2-light">Sed sit amet leo orci.</div>
                    <!--<a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a>-->
                    </div>
        </div>
               </div>
            </div>
</div>
